<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sandoval Eventos</title>
    <link rel="icon" href="{% static '/img/SandovalEventosLogo.png'%}">
    <link rel="stylesheet" href="{% static '/css/fontawesome/solid.css' %}">
    <link rel="stylesheet" href="{% static '/css/inicio.css' %}">
    <link rel="stylesheet" href="{% static '/css/administracion.css' %}">
    <link rel="stylesheet" href="{% static '/css/login.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>


<body style="background-color:rgb(244, 221, 245);">

    <!--NavBar-->
    <div class="parallax-admin">
        <nav class="navbar navbar-dark navbar-expand-md fixed-top"
            style="background: rgba(0, 0, 0, .3); backdrop-filter: blur(10px);">
            <div class="container-fluid">
                <a class="navbar-brand">
                    {% load static %}
                    <img src="{% static '/img/SandovalEventosLetras.png'%}" alt="" width="230" height="40"
                        class="d-inline-blockalign-text-top">
                </a>
                <button class="navbar-toggler" type="button" onclick="toggleMenu()">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div id="navbarOptions" class="collapse navbar-collapse justify-content-end">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="{% url 'Inicio' %}">Inicio</a>
                        </li>
                        <li>
                            <a href="{% url 'Inicio' %}">Nosotros</a>
                        </li>
                        <li>
                            <a href="{% url 'Inicio' %}">Servicios</a>
                        </li>
                        <li>
                            <a href="{% url 'Inicio' %}">Contacto</a>
                        </li>
                        <li class="sidebar-container">
                            <a onclick="openNav()">
                                <i class="fa-solid fa-cart-shopping" style="font-size: 27px; margin-top: 2px;"></i>
                            </a>
                            <div id="SidenavCarrito" class="sidenavCarrito">
                                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                                <p style="text-align: center; text-shadow: 0px 3px #818181;">Productos</p>
                                <div id="listaProductos" class="lista-productos">
                                </div>
                            </div>
                        </li>
                        <li class="sidebar-container">
                            <a onclick="openSidebar()">
                                <i class="fa-solid fa-circle-user" style="font-size: 30px;"></i>
                            </a>
                            <div class="sidebar">
                                <a onclick="document.getElementById('id01').style.display='block'" href="#">Iniciar
                                    Sesion/Registrarse</a>
                                <a href="#">Mis Cotizaciones</a>
                                <a href="#">Administración</a>
                                <a href="#">Cambiar Contraseña</a>
                                <a href="#">Cerrar Sesion</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!--Modal Login-->
        <div id="id01" class="modal">
            <form class="modal-content-lg animate" action="/action_page.php" method="post">
                <div class="imgcontainer">
                    <span onclick="document.getElementById('id01').style.display='none'" class="close"
                        title="Close Modal">&times;</span>
                </div>
                <div class="container">
                    <label for="email"><b>Email</b></label>
                    <input type="email" placeholder="Ingrese su correo electronico" name="email" required>

                    <label for="psw"><b>Contraseña</b></label>
                    <input type="password" placeholder="Ingrese su contraseña" name="psw" required>

                    <button class="button-lg" type="submit">Iniciar sesión</button>
                </div>
                <div class="container" style="background-color:rgb(250, 206, 252)">
                    <button type="button" onclick="document.getElementById('id01').style.display='none'"
                        class="cancelbtn button-lg">Registrarse</button>
                    <span class="psw">Olvidaste tú <a href="#">contraseña?</a></span>
                </div>
            </form>
        </div>

        <br><br><br>

        <div class="hero-text-admin">
            <h1 style="font-size:100px">Administracion</h1>
        </div>

        <a id="scroll-to-top" onclick="scrollToTop()">
            <i class="fa-solid fa-circle-up" style="font-size: 25px;"></i>
        </a>

        <div class="btns">
            <button class="custom-btn btn-3 tablink" onclick="openPage('Sercicios', this)">
                <span>Sercicios</span>
            </button>
            <button class="custom-btn btn-3 tablink" onclick="openPage('Productos', this)">
                <span>Productos</span>
            </button>
        </div>
    </div>

    <div id="Sercicios" class="tabcontent">
        <p>Mucho Gusto</p>
    </div>

    <div id="Productos" class="tabcontent">
        <div class="rectangle-containerT">
            <div class="text">Tablas</div>
            <button class="buttonTable" onclick="toggleAdditionalButtonsT()"></button>
            <div class="additional-buttons-t">
                <a href="{% url 'adminTablas' %}">
                    <button class="additional-button"><i class="fa-solid fa-plus" style="color: #000000;"></i></button>
                </a>
                <a href="{% url 'adminTablas' %}">
                    <button class="additional-button"><i class="fa-solid fa-pencil"></i></button>
                </a>
                <a href="{% url 'adminTablas' %}">
                    <button class="additional-button"><i class="fa-solid fa-trash"></i></button>
                </a>
            </div>
        </div>
        <div class="rectangle-containerD">
            <div class="text">Desayunos</div>
            <button class="buttonTable" onclick="toggleAdditionalButtonsD()"></button>
            <div class="additional-buttons-d">
                <button class="additional-button"><i class="fa-solid fa-plus" style="color: #000000;"></i></button>
                <button class="additional-button"><i class="fa-solid fa-pencil"></i></button>
                <button class="additional-button"><i class="fa-solid fa-trash"></i></button>
            </div>
        </div>
    </div>






    <br><br><br><br>

    <script src="{% static '/js/btnSubir.js'%}"></script>
    <script src="{% static '/js/carrito.js'%}"></script>
    <script src="{% static '/js/header.js'%}"></script>
    <script src="{% static '/js/tipoAdmin.js'%}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
</body>

</html>