<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sandoval Eventos</title>
    <link rel="icon" href="{% static '/img/SandovalEventosLogo.png'%}">
    <link rel="stylesheet" href="{% static '/css/inicio.css' %}">
    <link rel="stylesheet" href="{% static '/css/celebracion.css' %}">
    <link rel="stylesheet" href="{% static '/css/login.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>

<body style="background-color:rgb(241, 230, 241);">

    <!--NavBar-->
    <div class="parallax-celeb">
        <nav class="navbar navbar-dark navbar-expand-md fixed-top"
            style="background: rgba(0, 0, 0, .3); backdrop-filter: blur(10px);">
            <div class="container-fluid">
                <a class="navbar-brand">
                    {% load static %}
                    <img src="{% static '/img/SandovalEventosLetras.png'%}" alt="" width="230" height="40"
                        class="d-inline-blockalign-text-top">
                </a>
                <button class="navbar-toggler" type="button" onclick="toggleMenu()">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div id="navbarOptions" class="collapse navbar-collapse justify-content-end">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="{% url 'Inicio' %}">Inicio</a>
                        </li>
                        <li>
                            <a href="{% url 'nosotros' %}">Nosotros</a>
                        </li>
                        <li>
                            <a href="{% url 'Inicio' %}">Servicios</a>
                        </li>
                        <li>
                            <a href="{% url 'Inicio' %}">Contacto</a>
                        </li>
                        <li class="sidebar-container">
                            <a href="{% url 'carrito' %}">
                                <i class="fa-solid fa-cart-shopping" style="font-size: 27px; margin-top: 2px;"></i>
                            </a>
                        </li>
                        <li class="sidebar-container">
                            <a onclick="openSidebar()">
                                <i class="fa-solid fa-circle-user" style="font-size: 30px;"></i>
                            </a>
                            <div class="sidebar">
                                {% if request.session.cliente_nombre %}
                                <a href="{% url 'cuenta' %}">{{ request.session.cliente_nombre }}</a>
                                <a href="{% url 'cotizaciones' %}">Mis Cotizaciones</a>
                                <a href="{% url 'administracion' %}">Administración</a>
                                <a href="{% url 'cerrar_sesion' %}">Cerrar Sesión</a>
                                {% else %}
                                <a href="{% url 'login' %}">Iniciar Sesión</a>
                                <a href="{% url 'registro' %}">Registrarse</a>
                                {% endif %}
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <br><br><br>

        <div class="hero-text-celeb">
            <h1 style="font-size:100px">Celebración</h1>
            <p>Cotiza aqui las mejores opciones que tenemos para tus celebraciones</p>
        </div>
    </div>

    <a id="scroll-to-top" onclick="scrollToTop()">
        <i class="fa-solid fa-circle-up" style="font-size: 25px;"></i>
    </a>

    <!-- Modal Agregar Servicio-->
    <div class="modal fade" id="mymodal" data-bs-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header modalAgregar-header">
                    Title
                </div>
                <form id="modal-form" method="post" action="{% url 'agregar_servicio_cotizacion' %}">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="modal-content-agregar">
                            <label for="select-cotizacion">Agregar a:</label>
                            <select id="select-cotizacion" name="cotizacion">
                                <option value="seleccionCotizacion" selected>Seleccione una Cotización...</option>
                                {% for cotizacion in cotizaciones %}
                                <option value="{{ cotizacion.nroCotizacion }}">{{ cotizacion.nombreCotizacion }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div>
                            <label for="cantidad">Cantidad:</label>
                            <input type="number" id="cantidad" oninput="calcularPrecioTrago()" value="1">
                        </div>
                        <div style="display: flex;">
                            <label for="">Precio:</label>
                            <div class="modal-precio" style="margin-left: 30px;">
                                Precio
                            </div>
                        </div>
                    </div>
                    <input type="hidden" id="cantidad-actualizada" name="cantidad-actualizada" value="">
                    <input type="hidden" id="nombre-servicio" name="nombre_servicio" value="">
                    <input type="hidden" id="cotizacionSeleccionada" name="cotizacionSeleccionada" value="">
                    <input type="hidden" id="nombreCotizacion" name="nombreCotizacion" value="">
                    <div id="modal-footer" class="modal-footer">
                        <button id="btn-cancelar" type="button" class="btn btn-danger" data-bs-dismiss="modal"
                            oninput="restablecerModal()">
                            Cerrar
                        </button>
                        <button id="btn-agregar" type="button" class="btn-agregar" data-bs-dismiss="modal">
                            Agregar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="tipo-celeb">
        <button class="tablinks" onclick="openTipoCeleb(event, 'Cumpleaños')" id="defaultOpenCeleb">Cumpleaños</button>
        <button class="tablinks" onclick="openTipoCeleb(event, 'Aniversario')">Aniversario</button>
        <button class="tablinks" onclick="openTipoCeleb(event, 'Fiesta')">Fiesta</button>
    </div>

    <div id="Cumpleaños" class="tabCelebContent">
        <div class="tabCumpleaños">
            <button class="tablinksCumple" onclick="openCumple(event, 'Torta Cumple')"
                id="defaultOpenCumple">Torta</button>
            <button class="tablinksCumple" onclick="openCumple(event, 'Decoración Cumple')">Decoración</button>
            <button class="tablinksCumple" onclick="openCumple(event, 'Personal Cumple')">Personal</button>
            <button class="tablinksCumple" onclick="openCumple(event, 'Catering Cumple')">Catering</button>
            <button class="tablinksCumple" onclick="openCumple(event, 'Juegos Inflables')">Juegos Inflables</button>
        </div>
        <div id="Torta Cumple" class="tabContentCumple">
            <div class="content-subtipo">
                {% for servicio in objetos %}
                {% if servicio.tipo_evento == "cumpleaños" %}
                {% if servicio.tipo_servicio == "torta" %}
                <div class="cardServ">
                    <div class="card-content-serv">
                        <div class="text-container-serv">
                            <p>{{ servicio.nombreServicio }}</p>
                            <button class="agregarButton" data-bs-toggle="modal" data-bs-target="#mymodal"
                                data-nombre-servicio="{{ servicio.nombreServicio }}"
                                data-bs-heading="{{ servicio.nombreServicio }}"
                                data-bs-precio="{{ servicio.precioServicio }}">Agregar</button>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <div id="Decoración Cumple" class="tabContentCumple">
            <div class="content-subtipo">
                {% for servicio in objetos %}
                {% if servicio.tipo_evento == "cumpleaños" %}
                {% if servicio.tipo_servicio == "decoracion" %}
                <div class="cardServ">
                    <div class="card-content-serv">
                        <div class="text-container-serv">
                            <p>{{ servicio.nombreServicio }}</p>
                            <button class="agregarButton" data-bs-toggle="modal" data-bs-target="#mymodal"
                                data-nombre-servicio="{{ servicio.nombreServicio }}"
                                data-bs-heading="{{ servicio.nombreServicio }}"
                                data-bs-precio="{{ servicio.precioServicio }}">Agregar</button>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <div id="Personal Cumple" class="tabContentCumple">
            <div class="content-subtipo">
                {% for servicio in objetos %}
                {% if servicio.tipo_evento == "cumpleaños" %}
                {% if servicio.tipo_servicio == "personal" %}
                <div class="cardServ">
                    <div class="card-content-serv">
                        <div class="text-container-serv">
                            <p>{{ servicio.nombreServicio }}</p>
                            <button class="agregarButton" data-bs-toggle="modal" data-bs-target="#mymodal"
                                data-nombre-servicio="{{ servicio.nombreServicio }}"
                                data-bs-heading="{{ servicio.nombreServicio }}"
                                data-bs-precio="{{ servicio.precioServicio }}">Agregar</button>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <div id="Catering Cumple" class="tabContentCumple">
            <div class="content-subtipo">
                {% for servicio in objetos %}
                {% if servicio.tipo_evento == "cumpleaños" %}
                {% if servicio.tipo_servicio == "catering" %}
                <div class="cardServ">
                    <div class="card-content-serv">
                        <div class="text-container-serv">
                            <p>{{ servicio.nombreServicio }}</p>
                            <button class="agregarButton" data-bs-toggle="modal" data-bs-target="#mymodal"
                                data-nombre-servicio="{{ servicio.nombreServicio }}"
                                data-bs-heading="{{ servicio.nombreServicio }}"
                                data-bs-precio="{{ servicio.precioServicio }}">Agregar</button>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <div id="Juegos Inflables" class="tabContentCumple">
            <div class="content-subtipo">
                {% for servicio in objetos %}
                {% if servicio.tipo_evento == "cumpleaños" %}
                {% if servicio.tipo_servicio == "juegos_inflables" %}
                <div class="cardServ">
                    <div class="card-content-serv">
                        <div class="text-container-serv">
                            <p>{{ servicio.nombreServicio }}</p>
                            <button class="agregarButton" data-bs-toggle="modal" data-bs-target="#mymodal"
                                data-nombre-servicio="{{ servicio.nombreServicio }}"
                                data-bs-heading="{{ servicio.nombreServicio }}"
                                data-bs-precio="{{ servicio.precioServicio }}">Agregar</button>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    <div id="Aniversario" class="tabCelebContent">
        <div class="tabAniversario">
            <button class="tablinksAniv" onclick="openAniv(event, 'Catering Aniv')"
                id="defaultOpenAniv">Catering</button>
            <button class="tablinksAniv" onclick="openAniv(event, 'Decoracion Aniv')">Decoracion</button>
            <button class="tablinksAniv" onclick="openAniv(event, 'Personal Aniv')">Personal</button>
            <button class="tablinksAniv" onclick="openAniv(event, 'ArregloFloral')">Arreglo Floral Especial</button>
        </div>
        <div id="Catering Aniv" class="tabContentAniv">
            <div class="content-subtipo">
                {% for servicio in objetos %}
                {% if servicio.tipo_evento == "aniversario" %}
                {% if servicio.tipo_servicio == "catering" %}
                <div class="cardServ">
                    <div class="card-content-serv">
                        <div class="text-container-serv">
                            <p>{{ servicio.nombreServicio }}</p>
                            <button class="agregarButton" data-bs-toggle="modal" data-bs-target="#mymodal"
                                data-nombre-servicio="{{ servicio.nombreServicio }}"
                                data-bs-heading="{{ servicio.nombreServicio }}"
                                data-bs-precio="{{ servicio.precioServicio }}">Agregar</button>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <div id="Decoracion Aniv" class="tabContentAniv">
            <div class="content-subtipo">
                {% for servicio in objetos %}
                {% if servicio.tipo_evento == "aniversario" %}
                {% if servicio.tipo_servicio == "decoracion" %}
                <div class="cardServ">
                    <div class="card-content-serv">
                        <div class="text-container-serv">
                            <p>{{ servicio.nombreServicio }}</p>
                            <button class="agregarButton" data-bs-toggle="modal" data-bs-target="#mymodal"
                                data-nombre-servicio="{{ servicio.nombreServicio }}"
                                data-bs-heading="{{ servicio.nombreServicio }}"
                                data-bs-precio="{{ servicio.precioServicio }}">Agregar</button>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <div id="Personal Aniv" class="tabContentAniv">
            <div class="content-subtipo">
                {% for servicio in objetos %}
                {% if servicio.tipo_evento == "aniversario" %}
                {% if servicio.tipo_servicio == "personal" %}
                <div class="cardServ">
                    <div class="card-content-serv">
                        <div class="text-container-serv">
                            <p>{{ servicio.nombreServicio }}</p>
                            <button class="agregarButton" data-bs-toggle="modal" data-bs-target="#mymodal"
                                data-nombre-servicio="{{ servicio.nombreServicio }}"
                                data-bs-heading="{{ servicio.nombreServicio }}"
                                data-bs-precio="{{ servicio.precioServicio }}">Agregar</button>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <div id="ArregloFloral" class="tabContentAniv">
            <div class="content-subtipo">
                {% for servicio in objetos %}
                {% if servicio.tipo_evento == "aniversario" %}
                {% if servicio.tipo_servicio == "arreglo_floral" %}
                <div class="cardServ">
                    <div class="card-content-serv">
                        <div class="text-container-serv">
                            <p>{{ servicio.nombreServicio }}</p>
                            <button class="agregarButton" data-bs-toggle="modal" data-bs-target="#mymodal"
                                data-nombre-servicio="{{ servicio.nombreServicio }}"
                                data-bs-heading="{{ servicio.nombreServicio }}"
                                data-bs-precio="{{ servicio.precioServicio }}">Agregar</button>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    <div id="Fiesta" class="tabCelebContent">
        <div class="tabFiesta">
            <button class="tablinksFiesta" onclick="openFiesta(event, 'Catering Fiesta')"
                id="defaultOpenFiesta">Catering</button>
            <button class="tablinksFiesta" onclick="openFiesta(event, 'Entrenemiento')">Entrenemiento</button>
            <button class="tablinksFiesta" onclick="openFiesta(event, 'Decoración Fiesta')">Decoración</button>
            <button class="tablinksFiesta" onclick="openFiesta(event, 'Personal Fiesta')">Personal</button>
            <button class="tablinksFiesta" onclick="openFiesta(event, 'Transporte')">Servicio de Transporte</button>
        </div>

        <div id="Catering Fiesta" class="tabContentFiesta">
            <div class="content-subtipo">
                {% for servicio in objetos %}
                {% if servicio.tipo_evento == "fiesta" %}
                {% if servicio.tipo_servicio == "catering" %}
                <div class="cardServ">
                    <div class="card-content-serv">
                        <div class="text-container-serv">
                            <p>{{ servicio.nombreServicio }}</p>
                            <button class="agregarButton" data-bs-toggle="modal" data-bs-target="#mymodal"
                                data-nombre-servicio="{{ servicio.nombreServicio }}"
                                data-bs-heading="{{ servicio.nombreServicio }}"
                                data-bs-precio="{{ servicio.precioServicio }}">Agregar</button>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <div id="Entrenemiento" class="tabContentFiesta">
            <div class="content-subtipo">
                {% for servicio in objetos %}
                {% if servicio.tipo_evento == "fiesta" %}
                {% if servicio.tipo_servicio == "entretenimiento" %}
                <div class="cardServ">
                    <div class="card-content-serv">
                        <div class="text-container-serv">
                            <p>{{ servicio.nombreServicio }}</p>
                            <button class="agregarButton" data-bs-toggle="modal" data-bs-target="#mymodal"
                                data-nombre-servicio="{{ servicio.nombreServicio }}"
                                data-bs-heading="{{ servicio.nombreServicio }}"
                                data-bs-precio="{{ servicio.precioServicio }}">Agregar</button>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <div id="Decoracion Fiesta" class="tabContentFiesta">
            <div class="content-subtipo">
                {% for servicio in objetos %}
                {% if servicio.tipo_evento == "fiesta" %}
                {% if servicio.tipo_servicio == "decoracion" %}
                <div class="cardServ">
                    <div class="card-content-serv">
                        <div class="text-container-serv">
                            <p>{{ servicio.nombreServicio }}</p>
                            <button class="agregarButton" data-bs-toggle="modal" data-bs-target="#mymodal"
                                data-nombre-servicio="{{ servicio.nombreServicio }}"
                                data-bs-heading="{{ servicio.nombreServicio }}"
                                data-bs-precio="{{ servicio.precioServicio }}">Agregar</button>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <div id="Personal Fiesta" class="tabContentFiesta">
            <div class="content-subtipo">
                {% for servicio in objetos %}
                {% if servicio.tipo_evento == "fiesta" %}
                {% if servicio.tipo_servicio == "personal" %}
                <div class="cardServ">
                    <div class="card-content-serv">
                        <div class="text-container-serv">
                            <p>{{ servicio.nombreServicio }}</p>
                            <button class="agregarButton" data-bs-toggle="modal" data-bs-target="#mymodal"
                                data-nombre-servicio="{{ servicio.nombreServicio }}"
                                data-bs-heading="{{ servicio.nombreServicio }}"
                                data-bs-precio="{{ servicio.precioServicio }}">Agregar</button>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <div id="Transporte" class="tabContentFiesta">
            <div class="content-subtipo">
                {% for servicio in objetos %}
                {% if servicio.tipo_evento == "fiesta" %}
                {% if servicio.tipo_servicio == "transporte" %}
                <div class="cardServ">
                    <div class="card-content-serv">
                        <div class="text-container-serv">
                            <p>{{ servicio.nombreServicio }}</p>
                            <button class="agregarButton" data-bs-toggle="modal" data-bs-target="#mymodal"
                                data-nombre-servicio="{{ servicio.nombreServicio }}"
                                data-bs-heading="{{ servicio.nombreServicio }}"
                                data-bs-precio="{{ servicio.precioServicio }}">Agregar</button>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endif %}
                {% endfor %}
            </div>
        </div>

    </div>

    <br><br><br><br>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static '/js/btnSubir.js'%}"></script>
    <script src="{% static '/js/modalAgregar.js'%}"></script>
    <script src="{% static '/js/header.js'%}"></script>
    <script src="{% static '/js/tipoCeleb.js'%}"></script>
    <script src="{% static '/js/agregarServicio.js'%}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>

</html>