<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sandoval Eventos</title>
    <link rel="icon" href="{% static '/img/SandovalEventosLogo.png'%}">
    <link rel="stylesheet" href="{% static '/css/inicio.css' %}">
    <link rel="stylesheet" href="{% static '/css/coffeeBreak.css' %}">
    <link rel="stylesheet" href="{% static '/css/login.css' %}">
    <link rel="stylesheet" href="{% static '/css/matrimonio.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>


<body style="background-color:rgb(241, 230, 241);">

    <!--NavBar-->
    <div class="parallax-cb">
        <nav class="navbar navbar-dark navbar-expand-md fixed-top"
            style="background: rgba(0, 0, 0, .3); backdrop-filter: blur(10px);">
            <div class="container-fluid">
                <a class="navbar-brand">
                    {% load static %}
                    <img src="{% static '/img/SandovalEventosLetras.png'%}" alt="" width="230" height="40"
                        class="d-inline-blockalign-text-top">
                </a>
                <button class="navbar-toggler" type="button" onclick="toggleMenu()">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div id="navbarOptions" class="collapse navbar-collapse justify-content-end">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="{% url 'Inicio' %}">Inicio</a>
                        </li>
                        <li>
                            <a href="{% url 'nosotros' %}">Nosotros</a>
                        </li>
                        <li>
                            <a href="{% url 'Inicio' %}">Servicios</a>
                        </li>
                        <li>
                            <a href="{% url 'Inicio' %}">Contacto</a>
                        </li>
                        <li class="sidebar-container">
                            <a href="{% url 'carrito' %}">
                                <i class="fa-solid fa-cart-shopping" style="font-size: 27px; margin-top: 2px;"></i>
                            </a>
                        </li>
                        <li class="sidebar-container">
                            <a onclick="openSidebar()">
                                <i class="fa-solid fa-circle-user" style="font-size: 30px;"></i>
                            </a>
                            <div class="sidebar">
                                {% if request.session.cliente_nombre %}
                                <a href="{% url 'cuenta' %}">{{ request.session.cliente_nombre }}</a>
                                <a href="{% url 'cotizaciones' %}">Mis Cotizaciones</a>
                                <a href="{% url 'administracion' %}">Administración</a>
                                <a href="{% url 'cerrar_sesion' %}">Cerrar Sesión</a>
                                {% else %}
                                <a href="{% url 'login' %}">Iniciar Sesión</a>
                                <a href="{% url 'registro' %}">Registrarse</a>
                                {% endif %}
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <br><br><br>

        <div class="hero-text-cb">
            <h1 style="font-size:100px">Coffee Break</h1>
        </div>

    </div>

    <div class="modal fade" id="mymodal" data-bs-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header modalAgregar-header">
                    Title
                </div>
                <form id="modal-form" method="post" action="{% url 'agregar_servicio_cotizacion' %}">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="modal-content-agregar">
                            <label for="select-cotizacion">Agregar a:</label>
                            <select id="select-cotizacion" name="cotizacion">
                                <option value="seleccionCotizacion" selected>Seleccione una Cotización...</option>
                                {% for cotizacion in cotizaciones %}
                                <option value="{{ cotizacion.nroCotizacion }}">{{ cotizacion.nombreCotizacion }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div>
                            <label for="cantidad">Cantidad:</label>
                            <input type="number" id="cantidad" oninput="calcularPrecioTrago()" value="1">
                        </div>
                        <div style="display: flex;">
                            <label for="">Precio:</label>
                            <div class="modal-precio" style="margin-left: 30px;">
                                Precio
                            </div>
                        </div>
                    </div>
                    <input type="hidden" id="cantidad-actualizada" name="cantidad-actualizada" value="">
                    <input type="hidden" id="nombre-servicio" name="nombre_servicio" value="">
                    <input type="hidden" id="cotizacionSeleccionada" name="cotizacionSeleccionada" value="">
                    <input type="hidden" id="nombreCotizacion" name="nombreCotizacion" value="">
                    <div id="modal-footer" class="modal-footer">
                        <button id="btn-cancelar" type="button" class="btn btn-danger" data-bs-dismiss="modal"
                            oninput="restablecerModal()">
                            Cerrar
                        </button>
                        <button id="btn-agregar" type="button" class="btn-agregar" data-bs-dismiss="modal">
                            Agregar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <a id="scroll-to-top" onclick="scrollToTop()">
        <i class="fa-solid fa-circle-up" style="font-size: 25px;"></i>
    </a>

    <div class="tabCB">
        <button class="tablinksCB" onclick="openCB(event, 'Bebestible')" id="defaultOpenCB">Bebestible</button>
        <button class="tablinksCB" onclick="openCB(event, 'Bocadillos Salados')">Bocadillos Salados</button>
        <button class="tablinksCB" onclick="openCB(event, 'Bocadillos Dulces')">Bocadillos Dulces</button>
    </div>

    <div id="Bebestible" class="tabContentCB">
        <div class="content-subtipo">
            {% for servicio in objetos %}
            {% if servicio.subtipo_servicio == "bebestible" %}
            <div class="cardServ">
                <div class="card-content-serv">
                    <div class="text-container-serv">
                        <p>{{ servicio.nombreServicio }}</p>
                        <button class="agregarButton" data-bs-toggle="modal" data-bs-target="#mymodal"
                            data-nombre-servicio="{{ servicio.nombreServicio }}"
                            data-bs-heading="{{ servicio.nombreServicio }}"
                            data-bs-precio="{{ servicio.precioServicio }}">Agregar</button>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <div id="Bocadillos Salados" class="tabContentCB">
        <div class="content-subtipo">
            {% for servicio in objetos %}
            {% if servicio.subtipo_servicio == "bocadillo_salado" %}
            <div class="cardServ">
                <div class="card-content-serv">
                    <div class="text-container-serv">
                        <p>{{ servicio.nombreServicio }}</p>
                        <button class="agregarButton" data-bs-toggle="modal" data-bs-target="#mymodal"
                            data-nombre-servicio="{{ servicio.nombreServicio }}"
                            data-bs-heading="{{ servicio.nombreServicio }}"
                            data-bs-precio="{{ servicio.precioServicio }}">Agregar</button>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <div id="Bocadillos Dulces" class="tabContentCB">
        <div class="content-subtipo">
            {% for servicio in objetos %}
            {% if servicio.subtipo_servicio == "bocadilla_dulce" %}
            <div class="cardServ">
                <div class="card-content-serv">
                    <div class="text-container-serv">
                        <p>{{ servicio.nombreServicio }}</p>
                        <button class="agregarButton" data-bs-toggle="modal" data-bs-target="#mymodal"
                            data-nombre-servicio="{{ servicio.nombreServicio }}"
                            data-bs-heading="{{ servicio.nombreServicio }}"
                            data-bs-precio="{{ servicio.precioServicio }}">Agregar</button>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>










    <br><br><br><br>

    <script src="{% static '/js/btnSubir.js'%}"></script>
    <script src="{% static '/js/carrito.js'%}"></script>
    <script src="{% static '/js/header.js'%}"></script>
    <script src="{% static '/js/tipoAdmin.js'%}"></script>
    <script src="{% static '/js/coffeeBreak.js'%}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
</body>

</html>