<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sandoval Eventos</title>
    <link rel="icon" href="{% static '/img/SandovalEventosLogo.png'%}">
    <link rel="stylesheet" href="{% static '/css/inicio.css' %}">
    <link rel="stylesheet" href="{% static '/css/login.css' %}">
    <link rel="stylesheet" href="{% static '/css/collage.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>


<body style="background-color:rgb(250, 206, 252);">

    <!--NavBar-->
    <div class="parallax">
        <nav class="navbar navbar-expand-lg fixed-top navbar-light"
            style="background: rgba(0, 0, 0, .1); backdrop-filter: blur(10px);">
            <div class="container-fluid">
                <a class="navbar-brand">
                    {% load static %}
                    <img src="{% static '/img/SandovalEventosLetras.png'%}" alt="" width="230" height="40"
                        class="d-inline-blockalign-text-top">
                </a>
                <ul class="nav navbar-nav justify-content-end">
                    <li>
                        <a href="#">Inicio</a>
                    </li>
                    <li>
                        <a href="#Nosotros">Nosotros</a>
                    </li>
                    <li>
                        <a href="#Servicios">Servicios</a>
                    </li>
                    <li>
                        <a href="#Contacto">Contacto</a>
                    </li>
                    <li class="sidebar-container">
                        <a onclick="openSidebar()">
                            <i class="fa-solid fa-circle-user" style="font-size: 30px;"></i>
                        </a>
                        <div class="sidebar">
                            <a onclick="document.getElementById('id01').style.display='block'" href="#">Iniciar Sesion/Registrarse</a>
                            <a href="#">Mis Cotizaciones</a>
                            <a href="#">Cambiar Contraseña</a>
                            <a href="#">Cerrar Sesion</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        <!--Modal Login-->
        <div id="id01" class="modal">
            <form class="modal-content-lg animate" action="/action_page.php" method="post">
                <div class="imgcontainer">
                    <span onclick="document.getElementById('id01').style.display='none'" class="close"
                        title="Close Modal">&times;</span>
                </div>
                <div class="container">
                    <label for="email"><b>Email</b></label>
                    <input type="email" placeholder="Ingrese su correo electrónico" name="email" required>

                    <label for="psw"><b>Contraseña</b></label>
                    <input type="password" placeholder="Ingrese su contraseña" name="psw" required>

                    <button class="button-lg" type="submit">Iniciar sesión</button>
                </div>
                <div class="container" style="background-color:rgb(250, 206, 252)">
                    <button type="button" onclick="document.getElementById('id02').style.display='none'"
                        class="cancelbtn button-lg">Registrarse</button>
                    <span class="psw"> <a href="#">Olvidaste tú contraseña?</a></span>
                </div>
            </form>
        </div>
        
        <br><br><br>

        <div class="hero-text">
            <h1 style="font-size:100px">Sandoval Eventos</h1>
            <p>Productora y Organizadora de Eventos</p>
            <button>Ver Servicios</button>
        </div>
    </div>

    <div class="nstros" id="Nosotros">
        <font face="times new roman" SIZE=8>
            <p>Nosotros</p>
        </font>
    </div>

    <!--Collage Fotos (Nosotros)-->
    <div class="wrapper">
        <figure class="figure-crsl">
            <div class="post-image">
                <a href="" class="container-img-1">
                    <img class="img-crsl" src="{% static '/img/matri1.png'%}" width="400" height="250" />
                    <div class="txt-img-1">¡Nos encantan las bodas!</div>
                </a>
            </div>
            <div class="post-image">
                <a href="" class="container-img-2">
                    <img class="img-crsl image-2" src="{% static '/img/tabla1.png'%}" width="500" height="250" />
                    <div class="middle-img-2">
                        <div class="text-img-2">Prueba nuestras diferentes tablas</div>
                    </div>
                </a>
            </div>
        </figure>
        <figure class="figure-crsl">
            <div class="post-image">
                <div class="container-img-3">
                    <img class="img-crsl img-3" src="{% static '/img/celebracion1.png'%}" width="800" height="300" />
                    <div class="top-left-img-3">Sandoval Eventos</div>
                    <div class="center-txt-3">Somos una productora/organizadora de eventos con mas de 25 años
                        de experiencia, brindando uno de los mejores servicios dentro de este mercado. Operando
                        dentro de las regiones de Valparaiso y Metropolitana.</div>
                    <div class="center-txt-32">Ofrecemos un servicio completo para ese evento que tanto tienes
                        en mente. Ademas realizamos envios a domicilio de tablas para compartir con quien tu
                        mas desees.</div>
                    <div class="center-txt-33">Hechale un vistazo a nuestro trabajo y si es de tu estilo no
                        dudes en cotizar tu evento, pedir una rica tabla o contactarnos, con mucho gusto
                        aclararemos todas tus dudas.</div>
                </div>
            </div>
        </figure>
        <figure class="figure-crsl">
            <div class="post-image">
                <img class="img-crsl img-4" src="{% static '/img/Catering.jpg'%}" />
            </div>
            <div class="post-image">
                <img class="img-crsl img-5" src="{% static '/img/coffeebreak2.jpg'%}" />
            </div>
            <div class="post-image">
                <img class="img-crsl img-6" src="{% static '/img/tablas2.jpg'%}" />
            </div>
        </figure>
    </div>

    <br>

    <!--Servicios-->
    <div class="srvcs" id="Servicios">
        <font face="times new roman" SIZE=8>
            <p>Servicios</p>
        </font>
    </div>

    <br><br>

    <div class="container-serv">
        <a href="{% url 'matrimonio' %}">
            <img src="{% static '/img/matri1.png'%}" style="width:300px; height: 183px;">
            <div class="content">
                <h3>Matrimonio</h3>
            </div>
        </a>
    </div>
    <div class="container-serv">
        <a href="{% url 'celebracion' %}">
            <img src="{% static '/img/celebracion2.png'%}" style="width:300px; height: 183px;">
            <div class="content">
                <h3>Celebración</h3>
            </div>
        </a>
    </div>
    <div class="container-serv">
        <a href="#">
            <img src="{% static '/img/coffeebreak.png'%}" style="width:300px; height: 183px;">
            <div class="content">
                <h3>Coffee Break</h3>
            </div>
        </a>
    </div>
    <div class="container-serv">
        <a href="{% url 'tabla' %}">
            <img src="{% static '/img/tabla1.png'%}" style="width:300px; height: 183px;">
            <div class="content">
                <h3>Tablas</h3>
            </div>
        </a>
    </div>
    <div class="container-serv">
        <a href="{% url 'desayuno' %}">
            <img src="{% static '/img/desayuno.png'%}" style="width:300px; height: 183px;">
            <div class="content">
                <h3>Desayunos</h3>
            </div>
        </a>
    </div>

    <br>

    <!--Contacto-->
    <div class="cntcto" id="Contacto">
        <font face="times new roman" SIZE=8>
            <p>Contacto</p>
        </font>
    </div>

    <br><br>

    <div class="contact-form">
        <div class="contact-txt">
            <font face="times new roman" SIZE=6>
                <p>Si tienes alguna duda ¡Contactanos!</p>
            </font>
            <div class="contact-list">
                <p>
                    <i class="fa-solid fa-phone" style="color: #981941;"></i>
                    <span>+56 942135704</span>
                </p>
                <p>
                    <a href="https://www.instagram.com/sandoval.eventos_/" target="_blank" class="no-sub">
                        <i class="fa-brands fa-instagram" style="color: #981941;"></i>
                        <span>Instagram</span>
                    </a>
                </p>
                <p>
                    <a href="https://www.facebook.com/Sandoevent/" target="_blank" class="no-sub">
                        <i class="fa-brands fa-facebook no-sub" style="color: #981941;"></i>
                        <span>Facebook</span>
                    </a>
                </p>
            </div>
        </div>
        <form class="formulario-cntacto" action="" method="post">

            {% csrf_token %}

            {{ form }}

            <input type="submit" value="Enviar">
        </form>
        {{ mensaje }}
    </div>











    <br><br><br><br><br><br><br><br>
    </div>













    <script src="{% static '/js/carrusel.js'%}"></script>
    <script src="{% static '/js/header.js'%}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
</body>
        

</html>

