<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sandoval Eventos</title>
    <link rel="icon" href="{% static '/img/SandovalEventosLogo.png'%}">
    <link rel="stylesheet" href="{% static '/css/inicio.css' %}">
    <link rel="stylesheet" href="{% static '/css/matrimonio.css' %}">
    <link rel="stylesheet" href="{% static '/css/login.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>


<body style="background-color:rgb(241, 230, 241);">

    <!--NavBar-->
    <div class="parallax-matrimonio">
        <nav class="navbar navbar-dark navbar-expand-md fixed-top"
            style="background: rgba(0, 0, 0, .3); backdrop-filter: blur(10px);">
            <div class="container-fluid">
                <a class="navbar-brand">
                    {% load static %}
                    <img src="{% static '/img/SandovalEventosLetras.png'%}" alt="" width="230" height="40"
                        class="d-inline-blockalign-text-top">
                </a>
                <button class="navbar-toggler" type="button" onclick="toggleMenu()">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div id="navbarOptions" class="collapse navbar-collapse justify-content-end">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="{% url 'Inicio' %}">Inicio</a>
                        </li>
                        <li>
                            <a href="{% url 'nosotros' %}">Nosotros</a>
                        </li>
                        <li>
                            <a href="{% url 'Inicio' %}">Servicios</a>
                        </li>
                        <li>
                            <a href="{% url 'Inicio' %}">Contacto</a>
                        </li>
                        <li class="sidebar-container">
                            <a onclick="openNav()">
                                <i class="fa-solid fa-cart-shopping" style="font-size: 27px; margin-top: 2px;"></i>
                            </a>
                            <div id="SidenavCarrito" class="sidenavCarrito">
                                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                                <p style="text-align: center; text-shadow: 0px 3px #818181;">Productos</p>
                                <div id="listaProductos" class="lista-productos">
                                </div>
                            </div>
                        </li>
                        <li class="sidebar-container">
                            <a onclick="openSidebar()">
                                <i class="fa-solid fa-circle-user" style="font-size: 30px;"></i>
                            </a>
                            <div class="sidebar">
                                {% if request.session.cliente_nombre %}
                                <a href="{% url 'cuenta' %}">{{ request.session.cliente_nombre }}</a>
                                <a href="{% url 'cotizaciones' %}">Mis Cotizaciones</a>
                                <a href="{% url 'administracion' %}">Administración</a>
                                <a href="{% url 'cerrar_sesion' %}">Cerrar Sesión</a>
                                {% else %}
                                <a href="{% url 'login' %}">Iniciar Sesión</a>
                                <a href="{% url 'registro' %}">Registrarse</a>
                                {% endif %}
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Modal Agregar Producto-->
        <div class="modal fade" id="mymodal" data-bs-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header modalAgregar-header">
                        Title
                    </div>
                    <div class="modal-body">
                        <div class="modal-content-agregar">
                            <label for="select-cotizacion">Agregar a:</label>
                            <select id="select-cotizacion" name="cotizacion">
                                <option value="seleccionCotizacion">Seleccione una Cotización...</option>
                                <option value="nueva-cotizacion">Nueva Cotización</option>
                                {% for cotizacion in cotizaciones %}
                                <option value="{{ cotizacion.nroCotizacion }}">{{ cotizacion.nombreCotizacion }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div id="nombre-cotizacion" style="display: none;">
                            <label for="input-nombre-cotizacion">Nombre Cotización:</label>
                            <input type="text" id="input-nombre-cotizacion">
                        </div>
                        <div>
                            <label for="">Cantidad:</label>
                            <input type="number" id="cantidad" oninput="calcularPrecio()">
                        </div>
                        <div>
                            <label for="">Precio:</label>
                            <input type="text" id="precio" readonly>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                            Cerrar
                        </button>
                        <button type="button" class="btn btn-success" data-bs-dismiss="modal">
                            Agregar
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Agregar Servicio-->
        <div class="modal fade" id="mymodalServ" data-bs-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header modalAgregar-header">
                        Title
                    </div>
                    <div class="modal-body">
                        <div class="modal-content-agregar">
                            <label for="select-cotizacion-serv">Agregar a:</label>
                            <select id="select-cotizacion-serv" name="cotizacion">
                                <option value="seleccionCotizacion">Seleccione una Cotización...</option>
                                <option value="nueva-cotizacion">Nueva Cotización</option>
                                {% for cotizacion in cotizaciones %}
                                <option value="{{ cotizacion.nroCotizacion }}">{{ cotizacion.nombreCotizacion }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div id="nombre-cotizacion-serv" style="display: none;">
                            <label for="input-nombre-cotizacion-serv">Nombre Cotización:</label>
                            <input type="text" id="input-nombre-cotizacion-serv">
                        </div>
                        <div>
                            <label for="">Precio:</label>
                            <input type="text" id="precioServ" readonly>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                            Cerrar
                        </button>
                        <button type="button" class="btn btn-success" data-bs-dismiss="modal">
                            Agregar
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Agregar Tragos-->
        <div class="modal fade" id="mymodalTrgs" data-bs-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header modalTrgs-header">
                        Title
                    </div>
                    <div class="modal-body">
                        <div class="modal-content-agregar">
                            <label for="select-cotizacion-trgs">Agregar a:</label>
                            <select id="select-cotizacion-trgs" name="cotizacion">
                                <option value="seleccionCotizacion">Seleccione una Cotización...</option>
                                <option value="nueva-cotizacion">Nueva Cotización</option>
                                {% for cotizacion in cotizaciones %}
                                <option value="{{ cotizacion.nroCotizacion }}">{{ cotizacion.nombreCotizacion }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div id="nombre-cotizacion-trgs" style="display: none;">
                            <label for="input-nombre-cotizacion-trgs">Nombre Cotización:</label>
                            <input type="text" id="input-nombre-cotizacion-trgs">
                        </div>
                        <div>
                            <label for="">Precio:</label>
                            <input type="text" id="precioTrgs" readonly>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                            Cerrar
                        </button>
                        <button type="button" class="btn btn-success" data-bs-dismiss="modal">
                            Agregar
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <br><br><br>

        <div class="hero-text-matri">
            <h1 style="font-size:100px">Matrimonio</h1>
            <p>Con nosotros puedes cotizar lo que necesites para tu boda ideal y a tu ritmo</p>
        </div>
    </div>

    <a id="scroll-to-top" onclick="scrollToTop()">
        <i class="fa-solid fa-circle-up" style="font-size: 25px;"></i>
    </a>

    <div style="text-align: center;">
        <ul class="opcMatri">
            <li>
                <a href="#Bar">Bar</a>
            </li>
            <li>
                <a href="#Aperitivos">Aperitivos</a>
            </li>
            <li>
                <a href="#Entrada">Entrada</a>
            </li>
            <li>
                <a href="#PlatoPrincipal">Plato Principal</a>
            </li>
            <li>
                <a href="#Postre">Postre</a>
            </li>
            <li>
                <a href="#Personal">Personal</a>
            </li>
            <li>
                <a href="#VyC">Vajilla y Cristaleria</a>
            </li>
            <li>
                <a href="#Sonido">Dj (Sonido)</a>
            </li>
            <li>
                <a href="#Iluminacion">Iluminacion</a>
            </li>
            <li>
                <a href="#Decoracion">Decoracion</a>
            </li>
            <li>
                <a href="#Fotografo">Fotografo</a>
            </li>
        </ul>
    </div>


    <!--Bar-->
    <button id="Bar" class="accordion">Bar</button>
    <div class="panel">
        <button class="accordionMini">Tragos</button>
        <div class="panel">
            <div class="opcBar">
                <div class="opcFiltros">
                    <input class="bscrTrago" type="text" id="searchInput" placeholder="Buscar...">
                    <label style="margin-bottom: 2%;" for="">Filtrar: </label>
                    <label><input type="checkbox" name="ron" value="ron"> Ron</label>
                    <label><input type="checkbox" name="whiskey" value="whiskey"> Whiskey</label>
                    <label><input type="checkbox" name="tequila" value="tequila"> Tequila</label>
                    <label><input type="checkbox" name="pisco" value="pisco"> Pisco</label>
                    <label><input type="checkbox" name="cerveza" value="cerveza"> Cerveza</label>
                </div>
                <div class="opcTragos">
                    <label><input type="checkbox" name="mojito" value="mojito ron"> Mojito</label>
                    <label><input type="checkbox" name="margarita" value="margarita tequila"> Margarita</label>
                    <label><input type="checkbox" name="piscola" value="piscola pisco"> Piscola</label>
                    <label><input type="checkbox" name="oldfashioned" value="oldfashioned whiskey"> Old
                        Fashioned</label>
                    <label><input type="checkbox" name="michelada" value="michelada cerveza"> Michelada</label>
                    <label><input type="checkbox" name="daiquiri" value="daiquiri ron"> Daiquiri</label>
                    <label><input type="checkbox" name="manhattan" value="manhattan whiskey"> Manhattan</label>
                </div>
                <button class="btnAgregarTrago" id="botonSubmit" style="display: none;">Agregar</button>
            </div>
        </div>
        <button class="accordionMini">Bar Adicional</button>
        <div class="panel">
            <div class="aperitivos">
                <div class="opcAprtvs">
                    <div class="opcLabel">
                        <p>Beer Bar</p>
                        <button class="btnAgregar" data-bs-toggle="modal" data-bs-target="#mymodalServ"
                            data-bs-heading="Beer Bar">Agregar</button>
                    </div>
                    <div class="opcLabel">
                        <p>Lemonade Bar</p>
                        <button class="btnAgregar" data-bs-toggle="modal" data-bs-target="#mymodalServ"
                            data-bs-heading="Lemonade Bar">Agregar</button>
                    </div>
                    <div class="opcLabel">
                        <p>Cocktail Bar</p>
                        <button class="btnAgregar" data-bs-toggle="modal" data-bs-target="#mymodalServ"
                            data-bs-heading="Cocktail Bar">Agregar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Aperitivos-->
    <button id="Aperitivos" class="accordion">Aperitivos</button>
    <div class="panel">
        <button class="accordionMini">Canapés</button>
        <div class="panel">
            <div class="aperitivos">
                <div class="opcAprtvs">
                    <div class="opcLabel">
                        <p>Camaron / Alcaparra</p>
                        <button class="btnAgregar" data-bs-toggle="modal" data-bs-target="#mymodal"
                            data-bs-heading="Canape: Camaron/Alcaparra">Agregar</button>
                    </div>
                    <div class="opcLabel">
                        <p>Palmito / Ciboulette</p>
                        <button class="btnAgregar" data-bs-toggle="modal" data-bs-target="#mymodal"
                            data-bs-heading="Canape: Palmito/Ciboulette">Agregar</button>
                    </div>
                    <div class="opcLabel">
                        <p>Choritos en Aceite / Queso Crema</p>
                        <button class="btnAgregar" data-bs-toggle="modal" data-bs-target="#mymodal"
                            data-bs-heading="Canape: Choritos en Aceite/Queso Crema">Agregar</button>
                    </div>
                </div>
            </div>
        </div>
        <button class="accordionMini">Tapaditos</button>
        <div class="panel">
            <div class="aperitivos">
                <div class="opcAprtvs">
                    <div class="opcLabel">
                        <p>Ave / Pimenton</p>
                        <button class="btnAgregar" data-bs-toggle="modal" data-bs-target="#mymodal"
                            data-bs-heading="Tapadito: Ave Pimenton">Agregar</button>
                    </div>
                    <div class="opcLabel">
                        <p>Pavo / Lechuga hidroponica</p>
                        <button class="btnAgregar" data-bs-toggle="modal" data-bs-target="#mymodal"
                            data-bs-heading="Tapadito: Pavo / Lechuga Hidroponica">Agregar</button>
                    </div>
                </div>
            </div>
        </div>
        <button class="accordionMini">Brochetas</button>
        <div class="panel">
            <div class="aperitivos">
                <div class="opcAprtvs">
                    <div class="opcLabel">
                        <p>Queso de cabra / Tomate Cherry / Albahaca</p>
                        <button class="btnAgregar" data-bs-toggle="modal" data-bs-target="#mymodal"
                            data-bs-heading="Brocheta: Queso de cabra / Tomate Cherry / Albahaca">Agregar</button>
                    </div>
                    <div class="opcLabel">
                        <p>Queso Matecoso / Tomate Cherry / Aceituna verde</p>
                        <button class="btnAgregar" data-bs-toggle="modal" data-bs-target="#mymodal"
                            data-bs-heading="Brocheta: Queso Mantecoso / Tomate Cherry / Aceituna verde">Agregar</button>
                    </div>
                    <div class="opcLabel">
                        <p>Champiñón / Zapallo italiano / Berenjena / Rúcula / Tomate Cherry</p>
                        <button class="btnAgregar" data-bs-toggle="modal" data-bs-target="#mymodal"
                            data-bs-heading="Brocheta: Champiñón / Zapallo italiano / Berenjena / Rúcula / Tomate Cherry">Agregar</button>
                    </div>
                    <div class="opcLabel">
                        <p>Uva verde / Mandarina / Uva morada / Kiwi</p>
                        <button class="btnAgregar" data-bs-toggle="modal" data-bs-target="#mymodal"
                            data-bs-heading="Brocheta: Uva verde / Mandarina / Uva morada / Kiwi">Agregar</button>
                    </div>
                </div>
            </div>
        </div>
        <button class="accordionMini">Empandas Cocktail</button>
        <div class="panel">
            <div class="aperitivos">
                <div class="opcAprtvs">
                    <div class="opcLabel">
                        <p>Queso</p>
                        <button class="btnAgregar" data-bs-toggle="modal" data-bs-target="#mymodal"
                            data-bs-heading="Empanada Cocktail: Queso">Agregar</button>
                    </div>
                    <div class="opcLabel">
                        <p>Pino</p>
                        <button class="btnAgregar" data-bs-toggle="modal" data-bs-target="#mymodal"
                            data-bs-heading="Empanada Cocktail: Pino">Agregar</button>
                    </div>
                    <div class="opcLabel">
                        <p>Jamon Queso</p>
                        <button class="btnAgregar" data-bs-toggle="modal" data-bs-target="#mymodal"
                            data-bs-heading="Empanada Cocktail: Jamon Queso">Agregar</button>
                    </div>
                    <div class="opcLabel">
                        <p>Mechada</p>
                        <button class="btnAgregar" data-bs-toggle="modal" data-bs-target="#mymodal"
                            data-bs-heading="Empanada Cocktail: Mechada">Agregar</button>
                    </div>
                    <div class="opcLabel">
                        <p>Camaron Queso</p>
                        <button class="btnAgregar" data-bs-toggle="modal" data-bs-target="#mymodal"
                            data-bs-heading="Empanada Cocktail: Camaron Queso">Agregar</button>
                    </div>
                    <div class="opcLabel">
                        <p>Champiñon Queso</p>
                        <button class="btnAgregar" data-bs-toggle="modal" data-bs-target="#mymodal"
                            data-bs-heading="Empanada Cocktail: Champiñon Queso">Agregar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Entrada-->
    <button id="Entrada" class="accordion">Entrada<p class="subChico">(Elija 2 opciones)</p></button>
    <div class="panel">
        <div class="matrimonio">
            <div class="opcComida">
                <label class="opcLabelComida">Causa de Pulpo
                    <input type="radio" checked="checked" value="Cumpleaños" name="tipoceleb">
                    <span class="checkmark"></span>
                </label>
                <label class="opcLabelComida">Gazpacho de beterraga y verduras
                    <input type="radio" name="tipoceleb" value="Aniversario">
                    <span class="checkmark"></span>
                </label>
                <label class="opcLabelComida">Tataki de Salmón
                    <input type="radio" name="tipoceleb" value="FiestaCorporativa">
                    <span class="checkmark"></span>
                </label>
                <label class="opcLabelComida">Atún sellado y Hummus
                    <input type="radio" name="tipoceleb" value="FiestaCorporativa">
                    <span class="checkmark"></span>
                </label>
            </div>
        </div>
    </div>

    <!--Plato Principal-->
    <button id="PlatoPrincipal" class="accordion">Plato Principal<p class="subChico">(Elija 2 opciones)</p></button>
    <div class="panel">
        <div class="matrimonio">
            <div class="opcComida">
                <label class="opcLabelComida">Risotto de pollo con curry
                    <input type="radio" checked="checked" value="Cumpleaños" name="tipoceleb">
                    <span class="checkmark"></span>
                </label>
                <label class="opcLabelComida">Langostinos al curry con arroz basmati
                    <input type="radio" name="tipoceleb" value="Aniversario">
                    <span class="checkmark"></span>
                </label>
                <label class="opcLabelComida">Magret de pato con salsa de frambuesa y patatas daphinoise
                    <input type="radio" name="tipoceleb" value="FiestaCorporativa">
                    <span class="checkmark"></span>
                </label>
            </div>
        </div>
    </div>

    <!--Postre-->
    <button id="Postre" class="accordion">Postre</button>
    <div class="panel">

    </div>

    <!--Personal-->
    <button id="Personal" class="accordion">Personal</button>
    <div class="panel">

    </div>

    <!--VyC-->
    <button id="VyC" class="accordion">Vajilla y Cristaleria</button>
    <div class="panel">

    </div>

    <!--Sonido-->
    <button id="Sonido" class="accordion">Dj (Sonido)</button>
    <div class="panel">

    </div>

    <!--Iluminacion-->
    <button id="Iluminacion" class="accordion">Iluminación</button>
    <div class="panel">

    </div>

    <!--Decoracion-->
    <button id="Decoracion" class="accordion">Decoración</button>
    <div class="panel">

    </div>

    <!--Fotografo-->
    <button id="Fotografo" class="accordion">Fotografo</button>
    <div class="panel">

    </div>















    <br><br><br><br>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static '/js/btnSubir.js'%}"></script>
    <script src="{% static '/js/carrito.js'%}"></script>
    <script src="{% static '/js/calcularValorProducto.js'%}"></script>
    <script src="{% static '/js/modalAgregar.js'%}"></script>
    <script src="{% static '/js/header.js'%}"></script>
    <script src="{% static '/js/acordion.js'%}"></script>
    <script src="{% static '/js/busquedaTragos.js'%}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
</body>

</html>