.topnav {
    overflow: hidden;
    background-color: transparent;
    margin-left: 33%;
  }
  
  .topnav a {
    margin-left: 5%;
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 3px solid transparent;
  }
  
  .topnav a:hover {
    color: #981941;
    border-bottom: 3px solid #981941;
  }
  
  .topnav a.active {
    color: #981941;
    border-bottom: 3px solid #981941;
  }

  .texto {
    font-size: 40px;
    text-align: center;
    margin-top: 3%;
  }

  label {
    font-size: 20px;
  }

  form {
    margin: 5% 25% 0 25%;
  }

  input[type="file"] {
    margin: 0 3% 0 3%;
  }


  input[type="submit"] {
    color: #13c540;
    border-color: #13c540;
    background-color: transparent;
    border: solid #13c540;
    border-radius: 0.375rem;
    border-width: 1px;
    padding: 6px 30px;
  }

  .btnsForm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
  }

  .success-message {
    color: green;
    margin-top: 10px;
  }

  .elimTabla {
    display: flex;
    margin: 5% 25% 5% 25%;
    justify-content: space-between;
  }

  .elimTabla h6 {
    color: rgb(120, 120, 120);
  }

  .elimTabla form {
    display:flex;
    margin: 0;
    align-items: center;
  }

  .editTabla {
    display: flex;
    margin: 5%;
    height: 110px;
    align-items: center;
  }
  
  .editTabla h6 {
    color: rgb(120, 120, 120);
  }
  
  .camposTabla form {
    margin:0;
  }

  .tablasEdit {
    display: flex;
    margin-top: 5%;
    justify-content: space-around;
  }
