.parallax-admin {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/admin.png");
  min-width: 700px;
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-text-admin {
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

.admin {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.custom-btn {
  margin-right: 2%;
  margin-left: 2%;
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
    7px 7px 20px 0px rgba(0, 0, 0, .1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);
  outline: none;
}

.btn-3 {
  background: #981941;
  background: linear-gradient(0deg, #dd5f87 0%, #981941 100%);
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;

}

.btn-3 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.btn-3:before,
.btn-3:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  background: #981941;
  transition: all 0.3s ease;
}

.btn-3:before {
  height: 0%;
  width: 2px;
}

.btn-3:after {
  width: 0%;
  height: 2px;
}

.btn-3:hover {
  background: transparent;
  box-shadow: none;
}

.btn-3:hover:before {
  height: 100%;
}

.btn-3:hover:after {
  width: 100%;
}

.btn-3 span:hover {
  color: #981941;
  background-color: rgba(255, 255, 255, 0.299);
}

.btn-3 span:before,
.btn-3 span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background: #981941;
  transition: all 0.3s ease;
}

.btn-3 span:before {
  width: 2px;
  height: 0%;
}

.btn-3 span:after {
  width: 0%;
  height: 2px;
}

.btn-3 span:hover:before {
  height: 100%;
}

.btn-3 span:hover:after {
  width: 100%;
}

.tabcontent {
  display: none;
  height: 100%;
}

.tablink {
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
}

.btns {
  display: flex;
  justify-content: center;
}

.rectangle-containerT {
  position: relative;
  width: auto;
  height: 200px;
  margin: 20px auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/tablaAdmin.jpeg");
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
.rectangle-containerD {
  position: relative;
  width: auto;
  height: 200px;
  margin: 20px auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/desayunoAdmin.jpeg");
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.text {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  font-size: 60px;
  font-weight: bold;
}

.buttonTable {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #981941;
  cursor: pointer;
  border: none;
}

.additional-buttons-t {
  position: absolute;
  right: 100px;
  top: 50%;
  transform: translateY(-50%);
  display: none;
}

.additional-buttons-d {
  position: absolute;
  right: 100px;
  top: 50%;
  transform: translateY(-50%);
  display: none;
}

.additional-button {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: #981941; 
  border: none;
}

.clientesTable {
  margin: 50px auto 100px auto;
  text-align: center;
}

.clientesTable tbody {
  background-color: #981941;
  color: white;
}

.clientesTable th, 
.clientesTable td {
  padding: 25px;
  border: 4px solid rgb(244, 221, 245);
}

.search-container {
  margin-top: 2%;
  width: 30%;
  margin-left: 35%;
  padding: 10px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-container input[type="text"] {
  width: 100%;
  font-size: 16px;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  border-color: rgb(152,25,65);
}

input[type="submit"] {
  background-color: white;
  color: red;
  padding: 5px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: red;
  color: white;
}