#scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  text-decoration: none;
  color: #981941;
}

#scroll-to-top:hover,
#scroll-to-top:focus {
  color: #f03f77;
}

.parallax-matrimonio {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/fondo-boda.png");
  min-height: 700px;
  min-width: 700px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-text-matri {
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

ul.opcMatri {
  margin-top: 4%;
  padding: 0 32px 0 32px;
}

ul.opcMatri li {
  display: inline;
  margin-bottom: 15px;
  padding-left: 2%;
  padding-right: 2%;
}

ul.opcMatri li a {
  text-decoration: none;
  color: #981941;
  font-size: 20px;
}

ul.opcMatri li a:hover {
  color: #f03f77;
}

ul.opcMatri-2 {
  margin-top: 20px;
  text-align: center;
}

ul.opcMatri-2 li {
  display: inline;
  padding-right: 65px;
}

ul.opcMatri-2 li a {
  text-decoration: none;
  color: #981941;
  font-size: 20px;
}

/* Subtitulos */
.subt {
  border-left: 7px solid #981941;
  margin-left: 90px;
  margin-top: 30px;
  height: 40px;
}
.subt p {
  margin-left: 20px;
  vertical-align: center;
}
.subChico {
  text-align: center;
  font-size: 20px;
  font-family: 'Times New Roman';
}
.titulosMatri {
  border-left: 15px solid #981941;
  margin-left: 50px;
  margin-top: 60px;
  height: 70px;
  display: flex;
}
.titulosMatri p {
  margin-left: 20px;
  vertical-align: center;
}


/* Bar */
.opcBar {
  display: flex;
}

.opcTragos {
  margin-left: 100px;
  margin-top: 30px;
  display: grid;
}

.opcTragos label {
  margin-bottom: 10px;
}

.opcBarAdd {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  max-height: 200px;
  overflow-y: auto;
}

.opcBarAdd label {
  margin-bottom: 10px;
}


/* Aperitivos */
.aperitivos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.opcAprtvs {
  display: flex;
  flex-direction: column;
  margin-left: 90px;
}
@media only screen and (min-width: 768px) {
  .opcAprtvs {
    flex-direction: row;
    flex-wrap: wrap;
    max-height: none;
    overflow-y: visible;
  }

  .opcAprtvs .opcLabel {
    margin-right: 35px;
    flex-basis: calc(20% - 16px);
  }
}
.opcLabel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Times New Roman';
  font-size: 20px;
}
.opcLabel p {
  margin-left: 25px;
  margin-top: 15px;
  text-align: center;
  vertical-align: center;
  width: 200px;
}
.btnAgregar {
  background-color: #981941;
  border: none;
  border-radius: 12px;
  color: white;
  padding: 6px 20px;
  text-align: center;
  font-size: 16px;
  margin: 40px 15px;
  opacity: 1;
  transition: 0.3s;
}
.btnAgregar:hover {
  opacity: 0.6
}
.radioLabel {
  margin-left: 50%;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.radioLabel input[type="radio"] {
  margin-left: 10px;
  margin-top: 26px;
  width: 20px;
  height: 30px;
}
.modalAgregar-header {
  color: #981941;
  text-align: center;
  font-size: 20px;
}
.modal-content-agregar {
  background-color: #fefefe;
  margin-bottom: 4%;
  width: 100%;
  max-width: 600px;
}
.modal-body label {
  color: #981941;
}
.modal-content-agregar label {
  margin-bottom: 1%;
}

.accordion {
  background-color: rgb(251, 174, 255);
  color: #981941;
  cursor: pointer;
  margin-top: 5%;
  padding: 20px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 40px;
  transition: 0.4s;
}


.accordionMini {
  display: block;
  background-color: rgb(251, 174, 255);
  color: #981941;
  cursor: pointer;
  margin-left: 1%;
  margin-top: 2%;
  padding: 10px;
  width: 20%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 30px;
  transition: 0.4s;
  border-radius: 20px;
}


.active, .accordion:hover {
  background-color: #981941;
  color: white;
}


.active, .accordionMini:hover {
  background-color: #981941;
  color: white;
}


.panel {
  padding: 0 18px;
  display: none;
  background-color: rgb(250, 206, 252);;
  overflow: hidden;
}

.matrimonio {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-top: 5%;
  text-align: center;
}

.opcComida {
  display: flex; 
  text-align: left;
  justify-content: center;
  margin-left: 20%;
  margin-right: 20%;
}


.opcLabelComida {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Times New Roman';
  font-size: 20px;
}

.opcLabelComida {
  display: block;
  position: relative;
  padding-left: 5%;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.opcLabelComida input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  display: block;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.opcLabelComida:hover input~.checkmark {
  background-color: #ccc;
}

.opcLabelComida input:checked~.checkmark {
  background-color: #981941;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.opcLabelComida input:checked~.checkmark:after {
  display: block;
}

.opcLabelComida .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.opcBar input[type=text] {
  margin-top: 15px;
  width: 235px;
  border: #981941;
  border-radius: 30px;
}

.opcFiltros {
  display: grid;
  width: 300px;
}

.bscrTrago {
  width: 50%;
}

.btnAgregarTrago {
  background-color: #981941;
  border: none;
  border-radius: 12px;
  color: white;
  padding: 6px 20px;
  text-align: center;
  font-size: 16px;
  height: 50px;
  margin-top: 215px;
  margin-left: 500px;
  opacity: 1;
  transition: 0.3s;
}
.btnAgregarTrago:hover {
  opacity: 0.6
}